body {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    height: 100px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.69);
}

.page-logo {
    display: inherit;
    align-items: inherit;
}

.logo-header {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.search-bar {
    justify-self: center;
    align-self: center;
    margin-left: 25px;
}

.search-bar input {
    width: 400px;
    height: 35px;
    border-radius: 5px;
    outline: none;
    border: 0.1px solid black;
}

.search-bar input::placeholder {
    font-size: 16px;
}

.user-information {
    display: flex;
    align-items: center;

}

.user-information h2 {
    font-size: 20px;
}

.user-photo {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 8px;
    border-radius: 50%;
}

.arrow-down {
   background-image: url('images/header-down-arrow.svg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin-right: 10px;
   width: 12.5px;
   height: 12.5px;
}

.main-container {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 60px 200px 60px 200px 60px 200px;
    grid-template-areas: "sidebar title1"
                         "sidebar films-container"
                         "sidebar title2"
                          "sidebar films-container2"
                          "sidebar title3"
                          "sidebar films-container3";
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    background-color: red;
    margin-top: -10px;
}

.film-information {
    width: 350px;
    height: 200px;
    background-image: url('images/pets.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
}


.films-container {
    grid-area: films-container;
    background-color: blue;
    height: 150px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    justify-content: center;
}

.films-container2 {
    grid-area: films-container2;
    background-color: blue;
    height: 150px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    justify-content: center;
}
.films-container3 {
    grid-area: films-container3;
    background-color: blue;
    height: 150px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    justify-content: center;
}

.title1 {
    grid-area: title1;
}

.title2 {
    grid-area: title2;
}

.title3 {
    grid-area: title3;
}



